<nav id="breadnavigator" aria-label="breadcrumb" style="margin-left: 5px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/index/<%=meta.token_key%>" id="bread_home_linker"><i class="home icon"></i>หน้าหลัก</a></li>
    <li class="breadcrumb-item"><a href="่่javascript:void(0)" id="bread_form_linker">แบบสำรวจข้อมูล</a></li>
    <li class="breadcrumb-item active" aria-current="page">แบบสำรวจตัวชี้วัด</li>
  </ol>
</nav>
