<nav id="breadnavigator" aria-label="breadcrumb" style="margin-left: 5px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" id="bread_home_linker"><i class="home icon"></i>หน้าหลัก</a></li>
      <li class="breadcrumb-item"><a href="่่javascript:void(0)" id="bread_form_linker">แบบสำรวจข้อมูล</a></li>
      <li class="breadcrumb-item"><a href="่่javascript:void(0)" id="master_bread_form_linker">แบบสำรวจอาชญากรรม</a></li>
      <li class="breadcrumb-item"><a href="่่javascript:void(0)" id="table_bread_form_linker">แบบแจงนับข้อมูลสถิติ</a></li>
      <li class="breadcrumb-item"><a href="่่javascript:void(0)" id="data_table_bread_form_linker">ตารางแจกแจง</a></li>
      <li class="breadcrumb-item active" aria-current="page">แบบเก็บข้อมูล</li>
    </ol>
</nav>		
