		<div class="panel container panel-container" style="margin-top : 10px;">
			<div class="row">
				<h1 class="page-header page-title col-lg" style="margin-top: 10px;">แบบสำรวจข้อมูลสถิติอาชญากรรมภาคประชาชน</h1>
				<% if(page.isUpdateMode(data.action)) {%>
				<div class="col-lg-1.5" style="margin-top: 10px; margin-right: 15px;">
					<button id="buttonnexttop" class="ui basic blue button btn-form-varidate-next" data-key="<%=data.dataset?.profile_id%>"><i class="arrow circle right icon large button"></i> ถัดไป</button>
				</div>
				<% } %>
			</div>
			<%- include('./survey_profile_kit_apt') %>
			</br>
			<div class="row">
				<div class="col-lg-1.5 btn-container">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="buttonsave" class="ui basic green button btn-form-varidate-save"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="buttonupdate" class="ui basic green button btn-form-varidate-edit" data-key="<%=data.dataset?.profile_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
				</div>
				<div class="col-lg-1.5">
					<button id="buttoncancel" class="ui basic red button"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
				<% if(page.isUpdateMode(data.action)) {%>
					<div class="col-lg-1.5">
						<button id="buttonnext" class="ui basic blue button btn-form-varidate-next" data-key="<%=data.dataset?.profile_id%>"><i class="arrow circle right icon large button"></i> ถัดไป</button>
					</div>
				<% } %>
			</div>
			</br>
		</div>
