.body{
  margin-top: 10px;
}
.star{
  color:red;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
th{
  color: white;
  
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #737373;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
#e_username { background:#d1d1d1; }
.panel-container { margin-top : 10px; }
.page-header { margin-top : 10px; }
#data-table { width: 100%; }
