	<div class="modal fade" id="by-modal-dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" tabIndex="-1">×</button>
					<h4 class="modal-title" id="modaltitle">แบบสำรวจข้อมูลสถิติอาชญากรรมภาคประชาชน</h4>
				</div>
				<div class="body dialog-body">
					<%- include('./survey_by_kit') %>
					<br/>
				</div>
				<div class="modal-footer">
					<% if(!page.isUpdateMode(data.action)) {%>
						<button id="bybuttonsave" class="ui basic green button btn-form-varidate-save small"><i class="save icon large button"></i> บันทึก</button>
					<% } %>
					<% if(page.isUpdateMode(data.action)) {%>
						<button id="bybuttonupdate" class="ui basic green button btn-form-varidate-edit small" data-key="<%=data.dataset?.survey_id%>"><i class="save icon large button"></i> ปรับปรุง</button>
					<% } %>
					<button id="bybuttoncancel" class="ui basic red button small" data-dismiss="modal"><i class="cancel icon large button"></i> ยกเลิก</button>
				</div>
			</div>
		</div>
	</div>
