<!DOCTYPE html>
<html>
	<head>
		<title>Service</title>
		<%- include('../asset/meta') %>
		<%- include('../asset/styleserror') %>		
		<style nonce="YXNzdXJl">
			a { font-size: 1.5rem; text-decoration: none; } 
			.portalbody { margin:0px; font-size:1rem; font-weight:400;line-height:1.5; }
			.page-header-title { margin-top:0px; margin-bottom:0.5rem; }
		</style>
		<script nonce="YXNzdXJl">
			function doGoBack() {
				window.history.back();
			}
			window.onload = function() {
				gobacklinker.onclick = doGoBack;
			}
		</script>
	</head>
	<body class="portalbody">
		<div id="ptpager" class="pt-page pt-page-current pt-page-controller">
			<div class="header-layer">
				<h1 class="page-header-title">
					<label>Service</label>
				</h1>
			</div>
			<div id="mainpanel" class="panel-body">
				<br/>
				<div id="messagepanellayer" class="message-panel-class">
					Sorry, Service is unavailable or not found. <br/>
					ขออภัย ไม่พบบริการหรือบริการไม่พร้อมใช้งาน
				</div>
				<br/>
				<div id="gobacklayer" class="goback-class">
					<a href="#" id="gobacklinker">Go Back</a>
				</div>
			</div>
		</div>
	</body>
</html>
